// 盒子模型 相关样式：尺寸大小、边框、圆角、滚动条

//  -- 高度、宽度相关
.snail-app {

    //------------高度、宽度相关

    //  高宽充满父容器
    .wh-full {
        width: 100%;
        height: 100%;
    }

    // 高宽按内容适应
    .wh-fit {
        width: fit-content;
        height: fit-content;
    }

    //------------宽度相关

    // 宽度充满父容器
    .w-full {
        width: 100%;
    }

    // 宽度按内容适应
    .w-fit {
        width: fit-content;
    }

    //------------高度相关

    // 高度充满父容器
    .h-full {
        height: 100%;
    }

    // 高度按内容适应
    .h-fit {
        height: fit-content;
    }

    // 高度 32px,一般为一行高度
    .h-32px {
        height: 32px;
    }

    // 高度 40px，标题行，导航头部高度
    .h-40px {
        height: 40px;
    }

    // 高度 100px
    .h-100px {
        height: 100%;
    }
}

//  -- 溢出相关：溢出隐藏和溢出滚动重合，但在隐藏语义下更贴合，先保留
.snail-app {

    // 溢出时，隐藏溢出内容
    & {

        //  X轴溢出隐藏：overflow-x: hidden;
        .hidden-x {
            overflow-x: hidden;
        }

        //  Y轴溢出隐藏：overflow-y: hidden;
        .hidden-y {
            overflow-y: hidden;
        }

        //  XY轴溢出隐藏：overflow: hidden
        .hidden-xy {
            overflow: hidden;
        }
    }

    // 溢出时，自动出滚动条
    & {

        //  X轴溢出滚动条，Y轴溢出隐藏
        .scroll-x {
            overflow: auto hidden;
        }

        //  Y轴溢出滚动条，X轴溢出隐藏
        .scroll-y {
            overflow: hidden auto;
        }

        //  XY轴溢出滚动条
        .scroll-xy {
            overflow: auto;
        }

        //  XY轴溢出无滚动条，溢出隐藏，和`hidden-xy`一致
        .scroll-none {
            overflow: hidden;
        }
    }

    // 滚动条大小
    & {

        //  normal 滚动条   10px
        .bar-normal::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }

        //  small 滚动条   6px
        .bar-small::-webkit-scrollbar {
            width: 6px;
            height: 6px;
        }

        //  mini 滚动条   4px
        .bar-mini::-webkit-scrollbar {
            width: 4px;
            height: 4px;
        }

        //  none 滚动条   0px
        .bar-none::-webkit-scrollbar {
            width: 0px;
            height: 0px;
        }
    }
}

//  -- 定位位置相关
.snail-app {

    //  position 定位
    & {

        //  绝对定位
        .absolute {
            position: absolute;
        }

        // 相对定位
        .relative {
            position: relative;
        }

        // 固定位置
        .fixed {
            position: fixed;
        }

        // 黏性定位
        .sticky {
            position: sticky;
        }
    }

    //  位置信息 - 开始位置
    & {
        //---------- 基础样式 ----------

        // 左侧开始
        .left-start {
            left: 0;
        }

        //  右侧开始
        .right-start {
            left: 100%;
        }

        // 顶部开始
        .top-start {
            top: 0;
        }

        //  底部开始
        .bottom-start {
            top: 100%;
        }

        //---------- 组合样式 ----------

        // 左上角开始
        .lt-start {
            left: 0;
            top: 0;
        }

        // 左下角开始
        .lb-start {
            left: 0;
            top: 100%;
        }

        // 右上角开始
        .rt-start {
            left: 100%;
            top: 0%;
        }

        // 右下角开始
        .rb-start {
            left: 100%;
            top: 100%;
        }
    }

    //  位置信息 - 结束位置
    & {

        //---------- 基础样式 ----------

        // 左侧结束
        .left-end {
            right: 100%;
        }

        //  右侧结束
        .right-end {
            right: 0;
        }

        // 顶部结束
        .top-end {
            bottom: 100%;
        }

        //  底部结束
        .bottom-end {
            bottom: 0;
        }

        //---------- 复合样式 ----------

        // 左上角结束
        .lt-end {
            right: 100%;
            bottom: 100%;
        }

        // 左下角结束
        .lb-end {
            right: 100%;
            bottom: 0;
        }

        // 右上角结束
        .rt-end {
            right: 0;
            bottom: 100%;
        }

        // 右下角结束
        .rb-end {
            right: 0;
            bottom: 0;
        }
    }

    //  中心点位置：center-point
    & {

        //  中心点居中：水平垂直居中
        .cp-center {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        //  中心点x轴居中：水平居中
        .cpx-center {
            left: 50%;
            transform: translateX(-50%);
        }

        //  中心点y轴居中：垂直居中
        .cpy-center {
            top: 50%;
            transform: translateY(-50%);
        }
    }

    // 复合样式 - 绝对定位
    & {

        //  绝对定位：left、top起始位置：left: 0; top: 0;
        .absolute-start {
            position: absolute;
            left: 0;
            top: 0;
        }

        //  绝对定位，水平垂直居中显示：left:50% top:50%; transform: translate(-50%, -50%)
        .absolute-center {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        //  绝对定位，右下角结束
        .absolute-end {
            position: absolute;
            right: 0;
            bottom: 0;
        }

        // 绝对定位，充满容器，左上角开始，右下角结束
        .absolute-full {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
        }
    }

    // 复合样式 - 固定定位
    & {

        //  固定定位：left、top起始位置：left: 0; top: 0;
        .fixed-start {
            position: fixed;
            left: 0;
            top: 0;
        }

        //  固定定位，水平垂直居中显示：left:50% top:50%; transform: translate(-50%, -50%)
        .fixed-center {
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        //  固定定位，右下角结束
        .fixed-end {
            position: fixed;
            right: 0;
            bottom: 0;
        }

        // 固定定位，充满容器，左上角开始，右下角结束
        .fixed-full {
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
        }
    }

}

//  -- 背景 background

//  -- 外边距 margin

//  -- 外边框 border bt(border-top) bw(border-width) bc(border-color)  radius（边框）

//  -- 内边距 padding

//  -- 其他样式
.snail-app {

    // absolute 定位的水平方向上下边框线；不占元素自身空间，利用 ::before ::after 伪元素实现
    & {

        .before-line,
        .after-line {
            position: relative;
        }

        .before-line::before,
        .after-line::after {
            position: absolute;
            background-color: #e5e5e5;
            content: " ";
            width: 100%;
            height: 1px;
            left: 0;
        }

        .before-line::before {
            top: 0;
        }

        .after-line::after {
            bottom: 0;
        }
    }

    // absolute 定位的垂直方向左右边框线；不占元素自身空间，利用 ::before ::after 伪元素实现
    & {

        .before-vline,
        .after-vline {
            position: relative;
        }

        .before-vline::before,
        .after-vline::after {
            position: absolute;
            background-color: #e5e5e5;
            content: " ";
            width: 1px;
            height: 100%;
            top: 0;
        }

        .before-vline::before {
            left: 0;
        }

        .after-vline::after {
            right: 0;
        }
    }

}