//  display：flex 时，弹性布局关布局样式
.snail-app {

    //  flex 布局，主轴和交叉轴居中
    .flex-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    //  flex 布局，主轴居中
    .flex-main-center {
        display: flex;
        justify-content: center;
    }

    //  flex 布局，交叉轴居中
    .flex-cross-center {
        display: flex;
        align-items: center;
    }

    //  flex 布局，主轴和交叉轴end对齐
    .flex-end {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    //  flex布局，列 为主轴
    .flex-column {
        display: flex;
        flex-direction: column;
    }

    //  flex:0 不自动撑开
    .flex-0 {
        flex: none;
    }

    //  flex:1 自动撑开
    .flex-1 {
        flex: 1;
    }

}