// 文本渲染相关样式，如文本养色、字体大小、斜体、下划线等
.snail-app {

    //  占位提示文本
    .placeholder {
        color: #8a9099;
    }

    //  文本省略号
    .ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}